* {
    font-family: Arial, Helvetica, sans-serif;
}

.main-body a:link {
    color: grey;
}

.main-body a:hover {
    color: salmon;
}

.main-body a:visited {
    color: grey;
}

.main-body h2 {
    font-size: 16px;
    font-weight: bold;
}

.nav-bar{
    background-color: rgb(47, 48, 48);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-item {
    display: inline-block;
    padding-right: 30px;
}

.nav-item h1 {
    font-size: 30px;
    font-weight: bold;
}

.nav-item h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}

.main-body {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.span3 {
    width: 25%;
    padding: 20px;
}

.span3 h2 {
    font-size: 16px;
    font-weight: bold;
}

.span9 {
    width: 75%;
    margin: auto;
    padding: 20px;
}

.footer {
    background-color: rgb(47, 48, 48);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.main-item {
    padding: 10px;
    width: 100%;
}

.main-item img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding: 20px;
    float: left;
}
